:root {
        --ic-brand-primary-darkened-5: #AA1E26;
--ic-brand-primary-darkened-10: #A11C24;
--ic-brand-primary-darkened-15: #981B22;
--ic-brand-primary-lightened-5: #B52A32;
--ic-brand-primary-lightened-10: #B9353D;
--ic-brand-primary-lightened-15: #BD4048;
--ic-brand-button--primary-bgd-darkened-5: #AA1E26;
--ic-brand-button--primary-bgd-darkened-15: #981B22;
--ic-brand-button--secondary-bgd-darkened-5: #242627;
--ic-brand-button--secondary-bgd-darkened-15: #202223;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0080CC;
--ic-link-color-lightened-10: #1999E4;
--ic-brand-primary: #b21f28;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #008EE2;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #252729;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #252729;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #b21f28;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #ffffff;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_92600000000000001/attachments/77/images.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1960463660&Signature=DdEOhP3pNAUQeEEoBLC%2Fp7aurD4%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_92600000000000001/attachments/77/images.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1960464342&Signature=lbD6vA1nPfssZJ7rKMCvSdyn6ds%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_92600000000000001/attachments/77/images.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1960464342&Signature=lbD6vA1nPfssZJ7rKMCvSdyn6ds%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_92600000000000001/attachments/77/images.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1960464342&Signature=lbD6vA1nPfssZJ7rKMCvSdyn6ds%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_92600000000000001/attachments/81/wcmsp-179542.jpg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1960464342&Signature=DHYaUMrvZokMRHk0ma8tUiGxagE%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #252729;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_92600000000000001/attachments/76/swg_logo-white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1960463619&Signature=a52OiwfKNunwYCRYOt%2FH5SF0Usw%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }