@model IEnumerable<GuildCars.Models.Queries.VehicleShortItem>

@{
    ViewBag.Title = "Index";
}

<h2>Sales</h2>

<div class="row container" style="margin-top: 10px">
    <h2>Search Results</h2>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-xs-12 container">
        <label for="">Quick Search</label>
        <form id="searchForm" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control col-12" id="quickSearch" placeholder="Make, Model or Year">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Price</span>
                </div>
                <input type="number" class="form-control col-4" id="minPrice" placeholder="No Min">
                <input type="number" class="form-control col-4" id="maxPrice" placeholder="No Max">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Year</span>
                </div>
                <input type="number" class="form-control col-4" min="2001" max="2022" id="minYear" placeholder="No Min">
                <input type="number" class="form-control col-4" min="2001" max="2022" id="maxYear" placeholder="No Max">
            </div>
            <button type="submit" onclick="search()" class="btn btn-success">Search</button>
        </form>
    </div>
</div>

<div class="row">
    <div id="searchResults" class="container">

    </div>

</div>

@section Scripts{
    <script>
            $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                search();
                return false;
            });


        });

        function search() {
            var params;
            var imagePath = '@Url.Content("~/Images/")';
            var detailsPath = '@Url.Action("AddPurchase","Sales")';
            params = 'minPrice=' + $('#minPrice').val() + '&maxPrice=' + $('#maxPrice').val() + '&minYear=' + $('#minYear').val() + '&maxYear=' + $('#maxYear').val() +
                '&quickSearch=' + $('#quickSearch').val() ;
        $.ajax({
        type: 'GET',
            url: 'https://localhost:44375/api/Sales/Index?' + params,
            success: function (results) {
            //clear the search results
                $('#searchResults').empty();
                //add search results
                $.each(results, function (index, vehicle) {
                    var html = '<div class="row item">' +
                                '<div class="column item-image">' +
                                    '<span class="recentListing"><strong>' + vehicle.Year + ' ' + vehicle.MakeName + ' ' + vehicle.ModelName + '</strong></span>' +
                                    '<p class="recentListing"><img style="width:166px;height:110px;" src="' + imagePath + vehicle.ImageFileName + '" /></p>' +
                                 '</div>' +
                                 '<div class="column item-text">' +
                                        '<p class="item-description">Body Style: ' + vehicle.BodyStyleName + '</p>' +
                                        '<p class="item-description">Trans: ' + vehicle.TransmissionName + '</p>' +
                                        '<p class="item-description">Color: ' + vehicle.ColorName + '</p>' +
                                 '</div>' +
                                  '<div class="column item-text">' +
                                         '<p class="item-description">Interior: ' + vehicle.InteriorColorName + '</p>' +
                                         '<p class="item-description">Mileage: ' + ' New ' + '</p>' +
                                         '<p class="item-description">VIN #: ' + vehicle.VINNumber + '</p>' +
                                  '</div>' +
                                  '<div class="column item-text">' +
                                        '<p class="item-description money">Sale Price: ' + Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' }).format(vehicle.SalePrice) + '</p>' +
                                        '<p class="item-description money">MSRP: ' + Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' }).format(vehicle.MSRP) + '</p>' +
                                        '<p class="item-details"><a class="detail-link" href="' + detailsPath + '/' + vehicle.VehicleID + '">Purchase</a> </p>'

                                   '</div>' +
                                 '</div>';
                    $('#searchResults').append(html);
                });
        },
        error: function () {
            alert("Error performing search, try again later");
        }
        });
        }
    </script>
}
