@model IEnumerable<GuildCars.Models.Tables.Special>

@{
    ViewBag.Title = "Index";
}
    <style>
        .container {
            display: flex;
            align-items: flex-start;
            justify-content: start
        }

        img {
            max-width: 100%;
            float: left;
        }

        .text{
            padding-top: 20px;
        }
        
        .row{
                        padding-top: 20px;
        }
    </style>


<div class="row">
    <h2>Specials</h2>
    <div class="col-xs-12">
        @foreach (var special in Model)
        {
            <div class="container">
                <div class="specialimage">
                    <img src="@Url.Content("~/Images/" + "money_14.svg")" width="70" height="70" alt="" style="margin-top:20px">
                </div>
                <div class="specialText">
                    <p class="SpecialTitle"><strong>@special.SpecialTitle</strong></p>
                    <p class="SpecialDescription">@special.SpecialDescription</p>
                </div>
            </div>
        }
    </div>
</div>

